.App {
  text-align: center; 
  font-size: large;
  max-width: 500px;
  margin-left: 25rem;
}
.score-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.card {
  border: 14px solid #49d819;
  margin: 3rem;
  justify-content: space-around;
}
p {
  border-bottom: 1px solid #363945;
  padding: 2px;
  justify-content: space-between;
}
.card-container {
  border: 5px solid transparent;
  border-image: linear-gradient(to right, rgb(41, 73, 177), rgb(0, 161, 112));
  border-image-slice: 1;
}
h1 {
  color: #0da0a5;
  font-family: Nunito, Sans;
}

h2 {
  border-bottom: 1px solid #363945;
  color: #0da0a5
}
